{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div>
    <div class="w-full">
        <div>
            <button type="button" class="bg-gray-500 text-white rounded-full px-4 py-2 hover:bg-gray-600 focus:outline-none w-1/8 ml-10 uppercase" id="dropdownButton">
                Filtres <i class="fa-solid fa-sliders"></i>
            </button>
        </div>
    
        <div class="m-2 w-6/8 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 sticky top-0 z-50" id="dropdownContent" style="display: none;">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                {{ form_start(form, {'attr': {'class': 'flex'}}) }}
                    
                    <div class="w-1/3 m-5">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'text-sm text-gray-700'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'w-full px-3 py-2 border rounded-md shadow-sm text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500'}}) }}
                    </div>

                    <div class="w-1/3  m-5">
                        {{ form_label(form.ville, null, {'label_attr': {'class': 'text-sm text-gray-700'}}) }}
                        {{ form_widget(form.ville, {'attr': {'class': 'w-full px-3 py-2 border rounded-md shadow-sm text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500'}}) }}
                    </div>
                    <div class="w-1/3  m-5">
                        {{ form_label(form.region, null, {'label_attr': {'class': 'text-sm text-gray-700'}}) }}
                        {{ form_widget(form.region, {'attr': {'class': 'w-full px-3 py-2 border rounded-md shadow-sm text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500'}}) }}
                    </div>
                    <div class="m-10">
                        <button type="submit" class="text-center bg-gray-500 text-white rounded-full px-4 py-2 hover:bg-gray-600 focus:outline-none">Filtrer</button>
                    </div>
                    
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="flex items-center justify-letf m-10">
        <h1 class="text-3xl font-bold text-gray-700">
            Retrouvez les commerces de votre région
        </h1>
    </div>

    <div class="grid grid-cols-2 gap-8 justify-items-center mb-9 my-5 z-0">

        {% for shop_keeper in shop_keepers %}
        <a href="{{ path('app_shop_keeper_show', {'id': shop_keeper.id}) }}">
            <div class="bg-white overflow-hidden shadow rounded-lg mb-6 max-w-lg h-72 w-64 w-full transition transform hover:scale-105">
                <div class="flex">
                    <div class="w-1/3 h-72 relative">
                        <img src="{{ asset('uploads/' ~ shop_keeper.filename) }}" alt="..." class="h-full w-auto object-cover">
                    </div>
                    <div class="w-2/3 p-4">
                        <h5 class="text-lg font-bold mb-2 uppercase">{{ shop_keeper.name }}</h5> 
                        <p class="text-gray-700 mb-3 ">{{ shop_keeper.streetName }}, {{ shop_keeper.city }} {{ shop_keeper.postalCode}}</p>
                        <div class="h-1/3">
                            <p class="line-clamp-3">{{shop_keeper.description}}</p>
                        </div>
                        <div>
                            <button>Voir commerce</button>
                        </div>
                    </div>
                </div>
            </div>
        </a> 
        {% endfor %}  
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownContent = document.getElementById('dropdownContent');
    dropdownButton.addEventListener('click', () => {
        const isHidden = dropdownContent.style.display === 'none';
        dropdownContent.style.display = isHidden ? 'block' : 'none';
    });
</script>
{% endblock %}

