<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            <style>
                                /* Stylise la barre de défilement elle-même */
                .w-full::-webkit-scrollbar {
                     /* Largeur de la barre de défilement */
                    display: none !important;
                }

                /* Stylise la poignée (le curseur) de la barre de défilement */
                .w-full::-webkit-scrollbar-thumb {
                    background-color: darkgrey; /* Couleur de la poignée */
                    outline: 1px solid slategrey; /* Bordure autour de la poignée */
                    border-radius: 5px; /* Bords arrondis pour la poignée */
                }

                /* Stylise le fond de la barre de défilement (la piste) */
                .w-full::-webkit-scrollbar-track {
                    background: lightgrey; /* Couleur de fond de la piste */
                }
            </style>
        {% endblock %}

    </head>
    <body>
        <header class="bg-blue-300 p-4 text-black-500" bg="{{asset('assets/joyeux.png')}}" >
            <div class="container mx-auto flex justify-between items-center">
                <a href="{{ path('app_home') }}">
                    <h1 class="text-2xl font-semibold uppercase">
                        Localist
                    </h1>
                </a>
                
                {% if app.user %}
                    <div>
                    <a href="{{ path('app_dashboard') }}" class="bg-blue-500 px-4 py-2 rounded text-white hover:bg-green-600">
                        Dashboard
                    </a>
                    <a href="{{ path('app_logout') }}"><i class=" ml-2 fa-solid fa-right-from-bracket" ></i></a>
                    </div>
                {% else %}
                    <a href="{{ path('app_login') }}" class="bg-yellow-500 px-4 py-2 rounded text-white hover:bg-yellow-600">
                        Je suis commerçant
                    </a>
                {% endif %}

                
            </div>
        </header>
        </div>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
    {% endblock %}
</html>
