
{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    
        <h1 class="font-bold text-3xl mt-3 ml-2 mb-5">Hello {{ user.name }}</h1>
        <h3 class="font-semibold text-xl ml-8">Vos magasins</h3>

        <div class="flex justify-end mb-4">
            <a href="{{ path('app_shop_keeper_new') }}" class="bg-gray-500 px-4 py-2 rounded-full text-white hover:bg-gray-600 mr-12">
                <i class="fa-solid fa-upload"></i> Ajouter un magasin
            </a>
        </div>
        
        
        
        <div class="grid grid-cols-2 gap-8 justify-items-center mb-9 my-5">

            {% for shop_keeper in shop_keepers %}
                <div class="bg-white overflow-hidden shadow rounded-lg mb-6 max-w-lg h-72 w-64 w-full">
                    <div class="flex">
                        <div class="w-2/3 p-4">
                            <h5 class="text-lg font-bold mb-2 uppercase">{{ shop_keeper.name }}</h5> 
                            <p class="text-gray-700 mb-3 ">{{ shop_keeper.streetName }}, {{ shop_keeper.city }} {{ shop_keeper.postalCode}}</p>
                            <div class="h-1/3">
                                <p class="line-clamp-3">{{shop_keeper.description}}</p>
                            </div>
                            <div class="mt-10 ">
                                <a href="{{ path('app_shop_keeper_show', {'id': shop_keeper.id}) }}" class="items-center ml-2 mr-4 justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-500 hover:bg-gray-600">
                                    <i class="fa-solid fa-eye"></i> voir
                                </a>
                                <a href="{{ path('app_shop_keeper_edit', {'id': shop_keeper.id}) }}" class="items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-500 hover:bg-gray-600">
                                    <i class="fa-solid fa-pen"></i> modifier
                                </a>
                            </div>

                        </div>
                        <div class="w-1/3 h-72 relative">
                            <img src="{{ asset('uploads/' ~ shop_keeper.filename) }}" alt="..." class="h-full w-auto object-cover">
                        </div>
                    </div>
                </div>
            {% endfor %}  
        </div>
{% endblock %}
