{{ form_start(form) }}
    <div class="flex">
        <div class="m-4 w-1/3">
            {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="m-4 w-1/3">
            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="m-4 w-1/3">
            {{ form_label(form.phone, 'Téléphone', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(form.phone, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.phone) }}
        </div>
    </div>


    <div class="m-4 h-2/3">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline max-h-64 min-h-full'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="flex">
        <div class="m-4 w-1/3">
            {{ form_label(form.streetName, 'Nom de la rue', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(form.streetName, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.streetName) }}
        </div>
        
        <div class="m-4 w-1/3">
            {{ form_label(form.postalCode, 'Code Postal', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(form.postalCode, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.postalCode) }}
        </div>
        
        <div class="m-4 w-1/3">
            {{ form_label(form.city, 'Ville', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(form.city, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.city) }}
        </div>
    </div>

    <div class="m-4">
        {{ form_label(form.filename, 'Image de votre commerce', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {% if not isEdit %}
            {{ form_widget(form.filename, {'attr': {'required': 'required', 'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {% else %}
            {{ form_widget(form.filename, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {% endif %}
        {{ form_errors(form.filename) }}
    </div>
    <div class="m-4">
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" type="submit">
            <i class="fa-solid fa-pen"></i> {{ button_label|default('Enregister') }}
        </button>
    </div>

{{ form_end(form) }}
