{% extends 'base.html.twig' %}

{% block title %}ShopKeeper{% endblock %}

{% block body %}
    <h1>ShopKeeper</h1>
    <a href="{{ path('app_opening_hours_new', {'shop_keeper': shop_keeper.id}) }}">Ajouter horaire</a>

{#<img src="{{'shop_keeper.image'}}" alt="img" width="100%">#}

<img src="{{'asset(assets/logo-color.png)'}}" alt="im" width="100%">

<container class="flex-justify-content-center">


<div class="map">

<img src="{{'asset(assets/logo-color.png)'}}" alt="im" width="1%">

</div>

<div class="info">

<div class="ml-6 mt-6">
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">Titre</h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Details of the shop</p>
  </div>
    <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-bold leading-6 text-gray-900">Id</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ shop_keeper.id }}</dd>
    </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-bold leading-6 text-gray-900">Name</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ shop_keeper.name }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-bold leading-6 text-gray-900">StreetName</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ shop_keeper.streetName }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-bold leading-6 text-gray-900">PostalCode</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ shop_keeper.postalCode }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-bold leading-6 text-gray-900">City</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ shop_keeper.city }}</div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900"></dt>
      </div>
    </dl>
    </div>
</div>

</div>

</container>

<div class="flex justify-content-center">
                   
    {% if app.user %}
        <a href="{{ path('app_shop_keeper_edit', {'id': shop_keeper.id}) }}"class="bg-blue-500 px-4 py-2 rounded text-white hover:bg-green-600">edit</a>
        {{ include('shop_keeper/_delete_form.html.twig')}}
        <a href="{{ path('app_dashboard') }}"class="bg-blue-500 px-4 py-2 rounded text-white hover:bg-green-600">back to list</a>
        
    {% else %}
        <a href="{{ path('app_home') }}">back to home</a>
    {% endif %}
    

</div>

<style>
img, video {
max-width: 100%;
height: 30rem;
}
</style>

    <h2>Post du commerce</h2>
        
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>Url_image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.urlImage }}</td>
                {% if app.user %}
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <a href="{{ path('app_post_new', {'shop_keeper': shop_keeper.id}) }}">Create new</a>
    {% endif %}

    <h2>Avis du commerce</h2>
    {% if app.user is null %}
        <a href="{{ path('app_notice_new', {'shop_keeper': shop_keeper.id}) }}">Ajouter un commentaire</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PostedBy</th>
                <th>Text</th>
                <th>Note</th>
                <th>PostedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in notices %}
            <tr>
                <td>{{ notice.id }}</td>
                <td>{{ notice.postedBy }}</td>
                <td>{{ notice.text }}</td>
                <td>{{ notice.note }}</td>
                <td>{{ notice.postedAt ? notice.postedAt|date('d/m/Y') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
